{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
    <h1>Profile Page</h1>


    <div class="d-flex">
        <div class="flex-shrink-0">
            <img class="profile-pic" alt="Profile picture" src="{{ user.profile_picture.url }}">
        </div>
        <div class="flex-grow-1 ms-3">
             <p>Username: {{ user.username }}</p>
             <p>First Name: {{ user.first_name }}</p>
             <p>Last Name: {{ user.last_name }}</p>
             <p>Email: {{ user.email }}</p>
        </div>
    </div>

    <div>
        <a class="btn btn-outline-primary" href="{% url 'users:profile-edit' %}">edit profile</a>
    </div>


{% endblock %}